# Environment configuration for BookRec project

# Database credentials:
# the same for MongoDB and MySQL
DB_NAME=db_name 

# MongoDB specific
MDB_USER=mdb_user
MDB_PASSWORD=mdb_pass
MDB_PORT=mdb_port
MDB_USE_ATLAS=false/true
MDB_CLUSTER=clusterX.*******.mongodb.net
MDB_APPNAME=ClusterX

# MySQL specific
host=host
MSQL_USER=msql_user
MSQL_PASSWORD=msql_pass
MSQL_PORT=msql_port

# Kaggle Api credentials
KAGGLE_USERNAME="username"
KAGGLE_KEY="API_key"
